mixin tourItem(image, price, title, review, reviewCount, duration, tourPrice)
  .tour-item
    .tour-top
      img.tour-image(src= image, alt='bali')
      span.tour-price= price
    .tour-content
      h3.tour-title= title
      .tour-rating
        .tour-review
          .tour-star
            img(src='./images/star.png', alt='tour-rating')
          .tour-review-count
            span= review
              |  (#{reviewCount} reviews)
        span.tour-duration Duration: #{duration}
      a.tour-button(href='https://evondev.com', target='_blank', rel='noopener noreferrer') Tours Price $#{tourPrice}

mixin popularItem()
  .popular-item
    .popular-image
      img.popular-img(src="https://images.unsplash.com/photo-1568849676085-51415703900f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80", alt="")
      span.popular-label Must see
    .popular-content
      span.popular-time Sep 28 10:00 AM - 1:00 PM
      h3.popular-title The Grand Palace
      .popular-review
        img(src="./images/star.png", alt="star")
        span 4.8 (12 reviews)